$black: #162612
$green: #87B550

.contanier
    position: relative
    background: white
    padding: 25px 0
    z-index: 999999

.links
    display: flex
    padding: 0
    margin: 0
    font-size: 14px
    justify-content: flex-end
    a
        color: rgba($black, 0.5)
        margin-right: 20px
        text-decoration: none
        &:last-child
            margin-right: 0px
        &:hover
            color: $green
        &.active
            color: $green

            