$black: #162612
    
.layout
    font-size: 14px
    color: $black

.production
    margin-bottom: 30px
    text-align: center
    a
        display: inline-block
        opacity: 0.15
        &:hover
            opacity: 1