body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #F9FBF6;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
	color: #87B550;
}

.h2_title {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 100%;
	margin-top: 0;
	font-family: 'Ubuntu', sans-serif;
}

@keyframes spinner {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

.dot{
  width: 15px;
  height: 15px;
  background: #D4DED0;
  border-radius: 50px;
}

.slick-active .dot {
	background: #87B550;
}

.main__slider .slick-dots {
	bottom: 0;
	text-align: left;
}

.main__slider .slick-dots li {
	height: 15px;
}

.main__slider {
	margin-top: 50px;
	margin-bottom: 50px;
	/* padding: ; */
}